.form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display:flex;
    padding:5px;
    align-items:center;
    height:50px
}
.name{
    color:white
}
.inputText{
    height:35px;
    border-radius:20px;
    display:flex;
    width:100%;
    border:none
}
.btn {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px
}
.message{
    list-style:none
}
.message > li{
    padding:10px
}
.message > li:nth-child(odd){
    background-color:silver;
}